<div class="footer" >Want to report bugs? <a href="mailto: dmadhur6@gmail.com"><i class="fas fa-envelope" style="color:greenyellow"></i></a> ,<a href="mailto: shreyas.shukla26@gmail.com">
    <i class="fas fa-envelope" style="color:rgb(152, 244, 247)"></i></a> 
  
</div>
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </body>
</html>
