<% include partials/header %>
<div class="container" style="color: white">
   <div class="row">
       <div class="col-md-3">
              <div style="width:100%; margin:10% auto;">
                     <div class="list-group">
                        <li class="list-group-item active"><h1 style="font-family:'Oswald', sans-serif;font-size:400%">About</h1></li>
                     </div>
                   <a class="btn btn-danger" href="/posts">Go Back</a>
              </div>
       </div>
       
          <div class="col-md-9">
   <div style="width:auto; margin: 3% auto;">
   <div class="well">
        <p style="color:black;font-size: 150%"> <i class="fa fa-users" aria-hidden="true"></i>In case you find a bug</p>
           
           <p style="color:black;font-size: 150%;margin-top: 2%"> <i class="fab fa-dev"></i>Developers:
            <ul>
            <li style="color:black;font-size: 100%;margin-top: 2%">Back-end:
            <ol>
                <table>
              <tbody>
              <tr>
                <td><a href="https://github.com/Chester-King">Madhur Dixit</a></td>
                <td>17BCE2181</td>
                <td>dmadhur6@gmail.com<td>
             </tr>
                          
            </tbody>
            </table>
            </ol>
            </li>
            <li style="color:black;font-size: 100%;margin-top: 2%">Front-end:
              <ol>
                <table>
                    <tbody>
                   
                    <tr>
                      <td>Shreyas Shukla &emsp;&emsp;</td>
                      <td>17BCE2415</td>
                      <td>shreyas.shukla26@gmail.com</td>
                     </tr>
                   
                  </tbody>
                  </table>
                </ol>
            </li>
            </ul>
            </p>
            <!-- <p style="color:black;font-size: 150%;margin-top: 2%"> <i class="fab fa-dev"></i>Resource Manager:
              <ul style="color:black;margin-top: 2%">
                  &emsp;&emsp;&emsp;&nbsp;Saurabh Golcha &emsp;&emsp;&nbsp;   17BCE0232
                
              </ul>
              </p> -->
          </div>
          
   </div>
   </div>
</div>
</div>

<% include partials/footer %> 